
html,body{
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #FDEEE1;
}
.info{
  z-index:999;
  position : absolute;
  left:0;
  top:0;
  padding:10px;
  color:#fff;
  background: rgba(0,0,0,0.5);
  text-transform:capitalize;
}
#text{
  width: 400px;
  /* height: 425px; */
  left: 50px;
  top: 50px;
  position: absolute;
}
#code{
  display: none;
  font-size: 17px;
}
#clock-box{
  position: absolute;
  right: 10px;
  bottom: 10px;
  /* left: 60px; */
  /* top: 550px; */
  /* font-size: 28px; */
  display: none;
}
#clock{
  margin-left: 48px;
}
#clock .digit{
  font-size: 54px;
  color:red; 
}
.space{
  margin-right: 180px;
}